i {
  color: lightgray;
  font-size: 20px;
}

.input {
  outline: none;
  border: none;

  font-size: 20px;
}
.input:focus {
  outline: none;
}

.inputBox {
  border: 2px solid lightgray;
  border-radius: 15px;
  width: 300px;

  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
