.countryList {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 20px;

  background-color: #e6e6e6;
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
}

.countryList > li {
  padding: 20px 10px;
}
